/*.card-container {
    max-height: 300px; /* altura máxima del contenedor
    overflow-y: scroll; /* permitir desbordamiento vertical 
  }
  
  .card {
    background-color: lightblue;
    margin-bottom: 10px;
    padding: 10px;
  }*/
  